// Colors
$brand-default: #fff;
$brand-primary: #2196f3;
$brand-success: #4caf50;
$brand-info: #03a9f4;

// Panel styles
$panel-background: #fff;
$panel-border-color: #616161;
$panel-border: 1px solid $panel-border-color;

// Bootstrap variable overrides

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Exo', sans-serif;
$headings-font-weight: 600;

// Size overrrides
$input-height-small: 20px;
$padding-small-vertical: 2px;
$padding-small-horizontal: 4px;
$border-radius-base: 0;

// Button Styles
$btn-font-weight: normal;

// bring in the rest from bootstrap's defaults
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
