@import '../partials/variables';

.page {
  align-items: stretch;
  background: #eee;
  border: $panel-border;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
