@import '../partials/variables';

.panel {
  background: $panel-background;
  border: $panel-border;
  box-shadow: 1px 1px 0 $panel-border-color;
  padding: $padding-base-vertical $padding-base-horizontal;
}
